.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primaryHeading {
  color: #fff;
  text-transform: uppercase;
}

.heading {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.subHeading {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
